.itemPageContainer *{
    /* border: 1px solid green; */
    box-sizing:border-box;
    /* position:relative; */
    z-index:0;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    
           
}


.navBarDiv * {
    border: 1px solid blue;
}

#qNaH5{
    color: black;
}
