.RelatedBoughtItems {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 0;

}

.RelatedBoughtItems > div {
    margin: 10px;
    z-index: 1;
}

.RelatedItemName {
    color: #0059ff;
}

.RelatedItemPrice {
    color: rgb(204, 112, 0);
    font-weight: bold;
}

.RelatedItemPrimeEligibility {
    max-height: 40px !important;
    border: none;
}

.RelatedBoughtItems > div > img {
    display: block;
    height: 160px;
    max-width: 160px;
    max-height: 160px;
}