.RelatedBoughtItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 0;

}

.RelatedBoughtItems > div {
    z-index: 1;
}

.RelatedItemDisplayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1260px;
}

.RelatedItem {
    margin: 10px;
    max-width: 160px;
}

.RelatedItemDisplayContainer > div > img {
    display: block;
    height: 160px;
    max-width: 160px;
    max-height: 160px;
}

.RelatedItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RelatedItemHeader > h2 {
    color: rgb(204, 112, 0);
}

.RelatedItemHeader > div {
    flex-grow: 1;
    text-align: right;
    font-weight: bold;
}

.RelatedItemName {
    color: #0059ff;
}

.RelatedItemNav {
    background-color: lightgrey;
    max-width: 35px;
    max-height: 35px;
}

.RelatedItemNav > img {
    width: 35px;
    height: 35px;
}

.RelatedItemPrice {
    color: rgb(204, 112, 0);
    font-weight: bold;
}

.RelatedItemPrimeEligibility {
    max-height: 40px !important;
    border: none;
}