.galleryPhoto {
    max-width:100%;
    border:1px solid #008296;
    border: 1px solid darkblue;
    padding:3px;
    margin:3px;
}

.galleryPhoto.focus{
    max-width:100%;
    border: 1px solid #e77600;
    box-shadow:0 0 3px 2px rgb(228 121 17 / 50%);
    padding:3px;
    margin:3px;

}

.mainImg {
    max-width: 50%;
    
}

.mainPhoto.col-10{
    padding-left:5px;
}

.productPhotosH5{
    margin-left:25%;
}